html, body {
  height: 100%;
  width: 100%;
}

.page-container {
  width: 50%;
  margin: 0 auto;
}

.page-container h2 {
  text-align: center;
  font-weight: 900;
}

.todo-list, .add-list {
  list-style-type: none;
  text-align: left;
}

.todo-list li {
  padding: 10px;
  margin: 4px 0;
  border: 1px solid grey;
  width: 90%;
  position: relative;
  min-height: 100%;
  cursor: pointer;
}

.add-list .txt {
  padding: 10px;
  width: 90%;
  border: 1px solid grey;
}

.done {
  color: #9dc9a8;
}

.btn {
  width: 40px;
  border: none;
  cursor: pointer;
  outline: none;
}

.btn.btn-done{
  background: #9dc9a8;
  color: #444349;
}

.todo-list li .btn {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  transition: width 0.4s ease-in-out;
}

.todo-list li .btn:hover {
  width: 80px;
}
